
.flex-container{
    background-color: sandybrown;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.flex-item{
    background-color: green;    
    height: 150px;
    padding: 50px;
    margin: 5px;
    
}

